@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ddd;

}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

#header-text {
    padding: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.1rem;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
}

.hero-image {
    width: 100%;
}

#features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    
}

.text {
    padding: 10px;
    font-size: 1.1rem;
} 

.heading {
    font-weight: bold;
}

#products {

}

.section-heading {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
}

.grid-container {
    display: grid;
    gap: 1rem;
    //grid-template-columns: repeat(3, auto);
    //grid-column-gap: 10px;
    //grid-row-gap: 1rem;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    padding-bottom: 20px;
    font-size: 1.1rem;
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}